.App {
  text-align: center;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-container {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px;
  padding: 13px;
}

.App-header {
  background-color: #666;
  color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-family: 'Montserrat', sans-serif;
  z-index: 100;
}

.header-items {
  display: flex;
  padding: 0 10px;
  line-height: 60px;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header-text {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: white;
  height: 100%;
  flex: 1;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.header-text:hover {
  color: #ccc;
  cursor: pointer;
}

.menu-container {
  display: flex;
}

.menu-item {
  color: white;
  text-align: center;
  flex: 1;
}

.menu-item:hover {
  color: #ccc;
  cursor: pointer;
}

.menu-item .end {
  margin-top: auto;
}

.menu-item:last-child {
  padding-left: 15px;
}

.weight-input {
  width: 50px;
}

.white-space {
  flex: 4;
}

.lists {
  min-height: 200px;
}

.paragraph {
  max-width: 600px;
}
